body{
    margin: 0;
    padding: 0;
}

.image-header{
    width: 100%;
    height: 45%;
}


@media screen and (min-width: 1000px)and (max-width: 1024px) {
    img{
        width:100%;
    }
}

@media (min-width:320px)  {
    h1{
        font-size: 2.0em !important;
    }
 }